@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



:root{
    --primary-color : #ffc400;
    --page-color : #fcecaf;
    
}

body{
    margin :  auto;
}

#background{
    background-image: url("minion-9.jpg");
    opacity : 0.65;
    /* margin-left: 10rem; */
    /* margin-right: 10rem; */
    /* margin: auto; */

}

#nav {
    background-color: var(--primary-color);
    opacity: 0.85;
    /* margin : auto; */
    width : 100%;
    height : 10vh;
    padding-bottom : 1rem;
    padding-top: 0.5rem;
    margin-bottom: 5vh;
}

#heading{
    font-family : 'Pacifico', cursive;
    text-align : center;
    


}



#txt-input {
    
    background-color: transparent;
    border: 4px solid var(--primary-color);
    margin: auto;
    width: 75vh;
    height: 15vh;
    padding: 1rem;
    /* display : block here helped in positioning the button */
    display: block;
    margin-bottom: 2rem;
    font-family : 'Pacifico', cursive;
    font-size: medium;
}

#btn-translate{
    background-color: var(--page-color);
    border :4px solid var(--primary-color);
    padding : 0.2rem;
    width : 15vh;
    border-radius: 1.5rem;
    font-family : 'Pacifico', cursive;
    font-size: medium;
    margin: auto;
    display: block;
    
}

#output-background{
    /* opacity : 1; */
    background-color: var(--primary-color);
    width : 80vh;
    margin : auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

#output-heading{
    font-family : 'Pacifico', cursive;
    padding-top : 1rem;
    padding-bottom: 1rem;
    font-size: large;
    text-align: center;
    font-weight: bolder;
    margin : auto;
    
    
}

#output {
    border: 4px solid var(--primary-color);
    height: 10vh;
    width: 75vh;
    margin: auto;
    margin-bottom: 3rem;
    padding: 1rem;
}


#footer{

    background-color: var(--primary-color);
    opacity: 0.85;
    margin : auto;
    width : 100%;
    height : 12vh;
    padding-bottom : 2rem;
    margin-top: 0.5rem;

}

#footer-text{
    text-align : center;
    padding-top : 0.5rem;
    padding-bottom : 0.5rem;
    font-size: medium;
    font-family : 'Pacifico', cursive;
    /* padding-bottom: 1rem; */
    /* padding-left : 60vh; */

    
    color :black;

}

.social-media{

    /* text-align : center; */
    display : inline;
    color :black;
    text-decoration: none;
    /* padding-bottom: 1rem; */

}